body {
    background-color: lightgray;
}

input {
    width: 20%;
    height: 20%;
}

.RPS {
    display: inline-block;
}

#rock {
    margin-left: auto;
    margin-right: auto;
}

#paper {
    margin-left: auto;
    margin-right: auto;
}

#scissors {
    margin-left: auto;
    margin-right: auto;
}


#text, div {
    text-align: center;
}